/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Impact';
	src: url('../impact.ttf');
}
/************************************/
/***************END OF CSS RESET*****/
/************************************/
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background: grey;
}

header ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.templatelist form{
	margin-bottom: 20px;
}

#boutonupload{
	margin-left: 10px;
}

.templatelist{
	padding: 75px;
	padding-bottom: 0;
}

/*ul des templates dans la HomeView*/
.templates{
	border: solid 2px black;
	padding: 5px;
	display: flex;
	overflow: scroll;
}

/*li des templates dans la HomeView*/
.mini-templates{
	display: flex;
	margin-right: 5px;
}

.mini-templates img{
	width: auto;
	height: 70px;
}

.generator{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 450px;
	background: rgba(0,0,0,0.4);
	position: relative;
}

.generatorinner{
	display: flex;
	width: 95%;
	margin: auto;
	padding: 10px 0;
}

.flexdiv{
	flex: 1;
}

#plandetravail{
	position: relative;
}

#plandetravail p{
	font-family: 'Impact', sans-serif;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 3px black;
}

#meme_genere{
	height: auto;
}

.textehaut{
	position: absolute;
	top: 0px;
	left: 5%;
}

.textebas{
	position: absolute;
	bottom: 0px;
	left: 5%;
}

#generer{
	position: absolute;
	bottom: 0;
	left: 50%;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: grey;
}

body{
	min-height: 2000px;
}